extends layout

block content
    .header
        nav.nav-extended
            .nav-wrapper
                a.brand-logo(href='#') Raw&nbsp;Photo&nbsp;Viewer
    .content
        .drop-zone
            .center
                span.display-block DROP IMAGE HERE OR
                a.display-block.waves-effect.waves-light.grey.darken-3.btn select from disk
                a#preview Preview
                input#fake-button(type="file", accept=".bin")
        .viewer.hidden
            .center
                canvas#viewer.hidden
            #circle.hidden
            .center.fixed
                #progress.hidden
                    include progress
            #inputs.row
                .col.s2
                    i#clear.material-icons clear
                .input-field.col.s2
                    input#width.validate(type='number', step="1", min="0")
                    label(for='width') Width
                .input-field.col.s2
                    input#height.validate(type='number', step="1", min="0")
                    label(for='height') Height
                .input-field.col.s2
                    input#radius.validate(type='number', value="5", step="any", min="3")
                    label(for='radius') Radius
                .input-field.col.s2
                    input#num_points.validate(type='number', step="1", min="0", value="10")
                    label(for='num_points') Points
                .col.s2
                    a#download(href="path_to_file", download="image")
                        i.material-icons arrow_downward
