extends layout

block content
    .header
        nav.nav-extended
            .nav-wrapper
                a.brand-logo(href='#') Raw&nbsp;Photo&nbsp;Viewer
    .content
        .drop-zone
            .center
                span.display-block DROP IMAGE HERE OR
                a.display-block.waves-effect.waves-light.grey.darken-3.btn select from disk
                a#preview Preview
                input#fake-button(type="file", accept=".bin")
        .viewer.hidden
            .center
                canvas#viewer
                #circle.hidden
            #inputs.row
                .col.s2
                .input-field.col.s2
                    input#width.validate(type='number')
                    label(for='width') Width
                .input-field.col.s2
                    input#height.validate(type='number')
                    label(for='height') Height
                .input-field.col.s2
                    input#radius.validate(type='number', value="5")
                    label(for='radius') Radius
                .input-field.col.s2
                    input#num_points.validate(type='number')
                    label(for='num_points') Number of points
                .col.s2
